<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

	<connectionStrings>
		<add name="LoginDbConnection"
			 connectionString="Server=DESKTOP-I8SGQSI;Database=LoginDb;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
		<add name="TestDTConnection"
			 connectionString="Server=DESKTOP-I8SGQSI;Database=TestDT;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient" />
		<!-- Add providerName attribute -->
	</connectionStrings>
</configuration>