<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WPF_LoginForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<connectionStrings>
		<add name="LoginDbConnection"
    connectionString="Server=DESKTOP-I8SGQSI;Database=LoginDb;Integrated Security=True;TrustServerCertificate=True;"
    providerName="Microsoft.Data.SqlClient" />
		<add name="TestDTConnection"
    connectionString="Server=DESKTOP-I8SGQSI;Database=TestDT;Integrated Security=True;TrustServerCertificate=True;"
    providerName="Microsoft.Data.SqlClient" />
		<!-- Add providerName attribute -->
	</connectionStrings>
	<userSettings>
		<WPF_LoginForm.Properties.Settings>
   <setting name="DbProvider" serializeAs="String">
    <value>SqlServer</value>
   </setting>
   <setting name="SqlAuthConnString" serializeAs="String">
    <value>Server=(local); Database=LoginDb; Integrated Security=true</value>
   </setting>
   <setting name="SqlDataConnString" serializeAs="String">
    <value>Server=(local); Database=MainDataDb; Integrated Security=true</value>
   </setting>
   <setting name="PostgresDataConnString" serializeAs="String">
    <value>Host=localhost; Username=postgres; Password=password; Database=MainDataDb</value>
   </setting>
   <setting name="PostgresAuthConnString" serializeAs="String">
    <value>Host=localhost; Username=postgres; Password=password; Database=LoginDb</value>
   </setting>
   <setting name="AppLanguage" serializeAs="String">
    <value>en-US</value>
   </setting>
   <setting name="AutoImportEnabled" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ImportIsRelative" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ImportFileName" serializeAs="String">
    <value>dashboard_config.json</value>
   </setting>
   <setting name="ImportAbsolutePath" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowDashboardDateFilter" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DashboardDateTickSize" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="DefaultRowLimit" serializeAs="String">
    <value>500</value>
   </setting>
  </WPF_LoginForm.Properties.Settings>
	</userSettings>
</configuration>